@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    font-family: "Manrope";
}
.container {
    padding-inline: 10em;
    display: grid;
    margin: 100px auto;
    grid-template-columns: repeat(auto-fill,minmax(21em,1fr));
    gap: 2em;
}
.container .product_card {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: #1A1A1A;
}

.product_card_image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.product_card_image img{
    width: 100%;
    object-fit: contain;
}
.product_card_info {
    padding: 1em;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #E50000 16.67%, rgba(229, 0, 0, 0) 100%);
    border-image-slice: 1;
}
.product_card_info .product_card_info_title {
    font-size: 1.3em;
    color:white;
}
.product_card_info .product_card_info_category {
    color: #ebebeb;
    font-size: 1em;
}
.product_card_info .product_card_info_description {
    color: #999999;
    line-height: 1.6;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #E50000 16.67%, rgba(229, 0, 0, 0) 100%);
    border-image-slice: 1;
    padding-bottom: 1.5em;
}
.product_card_info .product_card_info_price {
    margin-bottom: 1em;
    color: #E50000;
    font-weight: normal;
    font-size: 1em;
}
.product_card_info .product_card_info_price span {
    color: #999999;
    display: inline-block;
    margin-right: 0.5em;
}
.product_card_add {
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_card_add button {
background-color: #E50000;
border: 0;
border-radius: 10px;
color: white;
padding: 0.5em 1em;
font-weight: 400;
font-size: 1.4em;
}
.product_card_info_rating,
.returnPolicy,
.product_card_info_stock,
.warrantyInformation,
.shippingInformation,
.minimumOrderQuantity {
    margin-bottom: 1em;
    color: #E50000;
}
.product_card_info_rating  span,
.returnPolicy span,
.product_card_info_stock span,
.warrantyInformation span,
.shippingInformation span,
.minimumOrderQuantity span{
    color: #999999;
    display: inline-block;
    margin-right: 0.5em;
}
.product_card_info_tags {
    color: #999999;
    position: absolute;
    bottom: 15px;
}

.availabilityStatus {
    background-color: #E50000;
    position: absolute;
    top: 30px;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    left: 0;
}
.availabilityStatus::before {
    content: "";
    position: absolute;
    border-color: transparent  transparent  transparent #E50000;
    border-width: 1.24em;
    border-style: solid;
    right: -38px;
    top: 50%;
    transform: translatey(-50%);
    
}